<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <title>Image Board</title>
    </head>
    <body>
        <div id="main">
            <h1 :class.camel="headlineCssClass">{{ headline }}</h1>
            <p class="status">{{message}}</p>
            <form
                action="/cards"
                method="post"
                enctype="multipart/form-data"
                @submit.prevent="upload"
            >
                <label for="title">Title</label>
                <input type="text" />
                <label for="description">Description</label>
                <input type="text" />
                <label for="username">Username</label>
                <input type="text" />
                <input
                    type="file"
                    name="file"
                    id="file"
                    required
                    accept="image/*"
                /> 
                <input type="submit" value="Upload" class="btn-submit" />
            </form>

            <div v-if="cards" class="container">
                <div v-for="card in cards" class="card">
                    <figure class="card__thumb">
                        <img
                            :src="card.url"
                            alt="Picture by Kyle Cottrell"
                            class="card__image"
                        />
                        <figcaption class="card__caption">
                            <h2 class="card__title">{{card.title}}</h2>
                            <p class="card__snippet">{{card.text}}</p>
                            <a href="" class="card__button">Comment</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <!-- <div id="loader">
            <div class="skeleton-card"></div>
            <div class="skeleton-card"></div>
            <div class="skeleton-card"></div>
        </div> -->
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
        <script src="/js/infiniteScroll.js"></script>
    </body>
</html>
