<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <title>Image Board</title>
    </head>
    <body>
        <div id="main">
            <h1 :class.camel="headlineCssClass">{{ headline }}</h1>
            <div>
                <p class="status">{{message}}</p>
                <!-- <p>{{newImage.title}}</p>
                <p>{{newImage.description}}</p>
                <p>{{newImage.username}}</p> -->

                <form
                    action="/cards"
                    method="post"
                    enctype="multipart/form-data"
                    @submit.prevent="upload"
                >
                    <div class="uploadForm">
                        <div>
                            <input
                                @change="setFile"
                                type="file"
                                name="file"
                                id="file"
                                required
                                accept="image/*"
                            />
                        </div>
                        <div>
                            <label for="username">Username</label>
                            <input v-model="newImage.username" type="text" />
                            <label for="title">Title</label>
                            <input v-model="newImage.title" type="text" />
                            <label for="description">Description</label>
                            <input v-model="newImage.description" type="text" />
                        </div>
                        <div>
                            <input
                                type="submit"
                                value="UPLOAD"
                                class="btn-submit"
                            />
                        </div>
                    </div>
                </form>
            </div>

            <div v-if="cards" class="container">
                <div v-for="card in cards" class="card">
                    <figure class="card__thumb">
                        <div>
                            <img
                                :src="card.url"
                                alt="card.title"
                                class="card__image"
                            />
                        </div>
                        <figcaption class="card__caption">
                            <h2 class="card__title">{{card.title}}</h2>
                            <p class="card__snippet">{{card.description}}</p>
                            <a
                                @click="selectCard(card.id)"
                                class="card__button"
                            >
                                More
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="container">
                <div class="center">
                    <button
                        class="btn"
                        v-if="loadMore"
                        @click="getMoreImages"
                        id="loadMore"
                    >
                        <svg
                            width="180px"
                            height="60px"
                            viewBox="0 0 180 60"
                            class="border"
                        >
                            <polyline
                                points="179,1 179,59 1,59 1,1 179,1"
                                class="bg-line"
                            />
                            <polyline
                                points="179,1 179,59 1,59 1,1 179,1"
                                class="hl-line"
                            />
                        </svg>
                        <span>LOAD MORE</span>
                    </button>
                </div>
            </div>

            <!-- <button v-if="loadMore" @click="getMoreImages" id="loadMore">
                Load More Images
            </button> -->
            <select-card
                v-if="selectedCard"
                v-bind:id="selectedCard"
                @close="deselectCard"
                v-bind:id="selectedCard"
            >
            </select-card>
        </div>

        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>
