<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <title>Image Board</title>
    </head>
    <body class="modal-open">
        <div id="main">
            <h1 :class.camel="headlineCssClass">{{ headline }}</h1>
            <p class="status">{{message}}</p>
            <p>{{newImage.title}}</p>
            <p>{{newImage.description}}</p>
            <p>{{newImage.username}}</p>

            <form
                action="/cards"
                method="post"
                enctype="multipart/form-data"
                @submit.prevent="upload"
            >
                <input
                    @change="setFile"
                    type="file"
                    name="file"
                    id="file"
                    required
                    accept="image/*"
                />
                <label for="username">Username</label>
                <input v-model="newImage.username" type="text" />
                <label for="title">Title</label>
                <input v-model="newImage.title" type="text" />
                <label for="description">Description</label>
                <input v-model="newImage.description" type="text" />
                <input type="submit" value="Upload" class="btn-submit" />
            </form>

            <div v-if="cards" class="container">
                <div
                    v-for="card in cards"
                    class="card"
                    @click="selectCard(card.id)"
                >
                    <figure class="card__thumb">
                        <div>
                            <img
                                :src="card.url"
                                alt="Picture by Kyle Cottrell"
                                class="card__image"
                            />
                        </div>
                        <figcaption class="card__caption">
                            <h2 class="card__title">{{card.title}}</h2>
                            <p class="card__snippet">{{card.description}}</p>
                            <a href="" class="card__button">More</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <select-card
                v-if="selectedCard"
                v-bind:id="selectedCard"
                @close="deselectCard"
                v-bind:id="selectedCard"
            >
            </select-card>
        </div>

        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
        <script src="/js/infiniteScroll.js"></script>
    </body>
</html>
